.aboutHeader{
    visibility: hidden;
    animation: myHeader 1s;
    
}

@keyframes myHeader {
    0%{clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%)}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
}

.aboutImage{
    animation: myImage 4s ;
}

@keyframes myImage {
    0%{clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 100%);} 
    20%{clip-path: polygon(100% 100%, 0 0, 0 100%, 0 100%);}
    40%{clip-path: polygon(100% 100%, 0 0, 100% 0, 0 100%);}
    60%{clip-path: polygon(100% 100%, 0 0, 100% 0, 100% 100%);}
    80%{clip-path: polygon(100% 100%, 0 0, 0 100%, 100% 0);}
    100%{clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);}
}

.aboutStory{
    @media(min-width: 1024px) {
        animation: myAbout 3s 
    }

}

@keyframes myAbout {
    0%{clip-path: polygon(100% 100%, 0 100%, 0 100%, 100% 100%);}
    100%{clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);}
}

