@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  overflow-x: hidden;
}
body {
      background-image: url('../public/images/pawel-czerwinski-fRzUPSFnp04-unsplash.webp');
      background-size: cover;
      background-position: top;
      background-attachment: fixed;
      background-repeat: repeat-y;
      min-height: 100vh;
      background-color: #F08A3D;
      width: auto;
    }
  


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


